/*Variables import*/
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda", cursive;
}

body {
  background-color: #000000;
}

.header__nav {
  background-color: #d3d3d3;
  width: 100%;
  height: 170px;
}

.header_nav__a {
  position: absolute;
}

.header_nav_a__img-nav {
  height: 170px;
}

.header_nav__ul {
  position: relative;
  float: right;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.header_nav__ul li {
  line-height: 160px;
  margin: 10px;
}

.header_nav__ul li a {
  text-decoration: none;
  color: #494949;
  font-size: 20px;
  text-transform: uppercase;
  padding: 13px;
  border-radius: 3px;
}

li a.activ, li a:hover {
  color: #000000;
  background-color: #808080;
  transition: 0.5s;
}

.header_nav__checkbtn {
  font-size: 85px;
  line-height: 170px;
  float: right;
  margin-right: 40px;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1364px) {
  .header_nav_a__img-nav {
    width: 500px;
  }
  .header_nav__ul li a {
    font-size: 18px;
  }
}
@media (max-width: 1192px) {
  .header_nav__checkbtn {
    display: block;
  }
  .header_nav__ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #999898;
    top: 170px;
    flex-direction: column;
    padding: 0;
    left: -100%;
    transition: all 0.5s;
  }
  .header_nav__ul li {
    text-align: center;
    height: 50px;
  }
  .header_nav__ul li a {
    font-size: 20px;
  }
  #check:checked ~ .header_nav__ul {
    left: 0;
  }
}
@media (max-width: 655px) {
  .header_nav_a__img-nav {
    width: 400px;
  }
  .header_nav__checkbtn {
    font-size: 50px;
    margin-right: 30px;
  }
}
@media (max-width: 501px) {
  .header_nav_a__img-nav {
    width: 300px;
  }
}
@media (max-width: 401px) {
  .header_nav_a__img-nav {
    width: 200px;
  }
}
@media (max-width: 301px) {
  .header_nav_a__img-nav {
    width: 100px;
  }
  .header_nav__ul li a {
    font-size: 16px;
  }
  .header_nav__checkbtn {
    font-size: 35px;
  }
}
.titulo-index {
  color: #808080;
  text-align: center;
  padding-top: 40px;
  font-size: 50px;
}

.seccion-index__article {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: repeat(2, 1fr) 150px;
  grid-template-areas: "seccion-index_article__img seccion-index_article__caracteristicas" "seccion-index_article__img seccion-index_article__trailer" "seccion-index_article__p seccion-index_article__p";
  margin: 50px 100px 20px 100px;
}

.seccion-index_article__img {
  grid-area: seccion-index_article__img;
  display: flex;
  justify-self: center;
  margin-top: 0px;
  border: 3px solid #808080;
  border-radius: 3px;
}

.seccion-index_article__caracteristicas {
  grid-area: seccion-index_article__caracteristicas;
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-evenly;
  margin: 0px 75px 10px 75px;
  border: 3px solid #808080;
  border-radius: 3px;
}

.seccion-index_article_caracteristicas__lista {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  line-height: 50px;
  font-size: 16px;
}

.seccion-index_article_caracteristicas__img {
  margin: 10px;
  border: 3px solid #808080;
  border-radius: 3px;
}

.seccion-index_article__trailer {
  grid-area: seccion-index_article__trailer;
  display: flex;
  justify-self: center;
  align-self: center;
  border: 3px solid #808080;
  border-radius: 3px;
}

.seccion-index_article__p {
  grid-area: seccion-index_article__p;
  background-color: #d3d3d3;
  display: flex;
  margin-top: 10px;
  justify-self: center;
  align-self: center;
  border: 3px solid #808080;
  border-radius: 3px;
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin: 0;
}

@media (max-width: 1718px) {
  .seccion-index__article {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: repeat(2, 1fr) 400px 150px;
    grid-template-areas: "seccion-index_article__img seccion-index_article__caracteristicas" "seccion-index_article__img seccion-index_article__caracteristicas" "seccion-index_article__trailer seccion-index_article__trailer" "seccion-index_article__p seccion-index_article__p";
    margin: 50px;
  }
  .seccion-index_article__caracteristicas {
    flex-direction: column;
  }
  .seccion-index_article_caracteristicas__lista {
    padding: 0;
  }
  .seccion-index_article_caracteristicas__img {
    height: 300px;
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 1509px) {
  .seccion-index__article {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: repeat(2, 1fr) 340px 1fr;
    grid-template-areas: "seccion-index_article__img seccion-index_article__caracteristicas" "seccion-index_article__img seccion-index_article__caracteristicas" "seccion-index_article__trailer seccion-index_article__trailer" "seccion-index_article__p seccion-index_article__p";
    margin: 50px;
  }
  .seccion-index_article__caracteristicas {
    margin: 25px;
  }
}
@media (max-width: 1390px) {
  .seccion-index__article {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: repeat(2, 300px) 370px 250px;
    grid-template-areas: "seccion-index_article__img seccion-index_article__caracteristicas" "seccion-index_article__img seccion-index_article__caracteristicas" "seccion-index_article__trailer seccion-index_article__trailer" "seccion-index_article__p seccion-index_article__p";
  }
  .seccion-index_article__img {
    width: 376px;
    height: 576px;
    align-self: center;
  }
}
@media (max-width: 1122px) {
  .seccion-index__article {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: repeat(2, 300px) 370px 250px;
    grid-template-areas: "seccion-index_article__img seccion-index_article__caracteristicas" "seccion-index_article__img seccion-index_article__caracteristicas" "seccion-index_article__trailer seccion-index_article__trailer" "seccion-index_article__p seccion-index_article__p";
    margin: 20px;
  }
  .seccion-index_article__img {
    width: 300px;
    height: 500px;
  }
}
@media (max-width: 966px) {
  .seccion-index_article_caracteristicas__img {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 866px) {
  .seccion-index__article {
    display: grid;
    grid-template-columns: 410px 1fr;
    grid-template-rows: repeat(2, 600px) repeat(2, 1fr);
    grid-template-areas: "seccion-index_article__img seccion-index_article__img" "seccion-index_article__caracteristicas seccion-index_article__caracteristicas" "seccion-index_article__trailer seccion-index_article__trailer" "seccion-index_article__p seccion-index_article__p";
    gap: 10px;
  }
  .seccion-index_article__img {
    width: 400px;
    height: 590px;
  }
  .seccion-index_article__caracteristicas {
    justify-content: space-evenly;
    width: 430px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .seccion-index_article_caracteristicas__img {
    height: 230px;
    align-self: center;
    margin: 0;
  }
}
@media (max-width: 601px) {
  .seccion-index__article {
    margin: 10px;
  }
  .seccion-index_article__trailer {
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 495px) {
  .seccion-index__article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 550px) repeat(2, 1fr);
    grid-template-areas: "seccion-index_article__img" "seccion-index_article__caracteristicas" "seccion-index_article__trailer" "seccion-index_article__p";
  }
  .seccion-index_article__img {
    width: 300px;
    height: 450px;
  }
  .seccion-index_article__caracteristicas {
    width: 300px;
  }
  .seccion-index_article_caracteristicas__lista {
    font-size: 14px;
  }
  .seccion-index_article_caracteristicas__img {
    width: 270px;
    height: 200px;
  }
  .seccion-index_article__trailer {
    width: 300px;
  }
  .seccion-index_article__p {
    font-size: 14px;
    width: 300px;
  }
}
@media (max-width: 425px) {
  .titulo-index {
    font-size: 40px;
  }
  .seccion-index_article_caracteristicas__lista {
    line-height: 40px;
  }
}
.titulo-contenido {
  color: #808080;
  font-size: 50px;
  text-align: center;
  padding: 50px 0 25px 0;
  margin-bottom: 0;
}

.seccion-contenido__art-mapa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 470px;
  grid-template-areas: "seccion-contenido_art-mapa__titulo-mapa seccion-contenido_art-mapa__titulo-mapa" "seccion-contenido_art-mapa__p seccion-contenido_art-mapa__img";
  margin: 0 100px 20px 100px;
}
.seccion-contenido__art-mapa .seccion-contenido_art-mapa__titulo-mapa {
  color: #808080;
  font-size: 30px;
  grid-area: seccion-contenido_art-mapa__titulo-mapa;
}
.seccion-contenido__art-mapa .seccion-contenido_art-mapa__p {
  background-color: #d3d3d3;
  font-size: 18px;
  border: 3px solid #808080;
  border-radius: 3px;
  grid-area: seccion-contenido_art-mapa__p;
  padding: 10px;
  margin-bottom: 0;
  height: fit-content;
  align-self: center;
  text-align: justify;
}
.seccion-contenido__art-mapa .seccion-contenido_art-mapa__p .tamriel {
  text-decoration: none;
  color: #000000;
}
.seccion-contenido__art-mapa .seccion-contenido_art-mapa__img {
  grid-area: seccion-contenido_art-mapa__img;
  display: flex;
  justify-self: flex-end;
  align-self: center;
  border: 3px solid #808080;
  border-radius: 3px;
}

.seccion-contenido__art-clases {
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 100px;
}
.seccion-contenido__art-clases .seccion-contenido_art-clases__titulo-clases {
  color: #808080;
  padding: 30px 0 5px 0;
  font-size: 30px;
  grid-area: seccion-contenido_art-mapa__titulo-mapa;
}
.seccion-contenido__art-clases .seccion-contenido_art-clases__p {
  background-color: #d3d3d3;
  padding: 10px;
  border: 3px solid #808080;
  border-radius: 3px;
  font-size: 18px;
}

.seccion_contenido_div__img {
  width: 100%;
}

.seccion-contenido__titulo-expansiones {
  color: #808080;
  font-size: 50px;
  text-align: center;
  margin: 50px;
}

.art-dlc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr 320px;
  grid-template-areas: "titulo-dlc titulo-dlc" "img-dlc p-dlc" "img-dlc trailer-dlc";
  padding-bottom: 30px;
  margin: 0 100px 0 100px;
}
.art-dlc .titulo-dlc {
  grid-area: titulo-dlc;
  color: #808080;
  font-size: 30px;
  display: flex;
  align-self: center;
}
.art-dlc .img-dlc {
  grid-area: img-dlc;
  border: 3px solid #808080;
  border-radius: 3px;
  align-self: center;
}
.art-dlc .p-dlc {
  grid-area: p-dlc;
  background-color: #d3d3d3;
  margin-bottom: 15px;
  padding: 10px;
  border: 3px solid #808080;
  border-radius: 3px;
  font-size: 18px;
  height: fit-content;
  align-self: center;
  text-align: justify;
}
.art-dlc .trailer-dlc {
  grid-area: trailer-dlc;
  display: flex;
  justify-self: center;
  align-self: center;
  border: 3px solid #808080;
  border-radius: 3px;
}

@media (max-width: 1642px) {
  .seccion-contenido__art-mapa .seccion-contenido_art-mapa__img {
    height: 364px;
    width: 606px;
    justify-self: center;
    margin: 0 25px 0 25px;
  }
}
@media (max-width: 1587px) {
  .art-dlc .p-dlc {
    margin: 0 30px 0 30px;
  }
  .art-dlc .trailer-dlc {
    margin: 10px 25px 0 25px;
  }
}
@media (max-width: 1460px) {
  .seccion-contenido__art-mapa {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 50px;
  }
  .seccion-contenido__art-mapa .seccion-contenido_art-mapa__img {
    height: 464px;
    width: 706px;
    margin: 20px 0 0 0;
  }
  .seccion-contenido__art-clases {
    margin: 0 50px 0 50px;
  }
  .art-dlc {
    margin: 0 50px 0 50px;
  }
  .art-dlc .p-dlc {
    margin-right: 0;
  }
  .art-dlc .trailer-dlc {
    margin-right: 0;
  }
}
@media (max-width: 1380px) {
  .art-dlc {
    display: grid;
    grid-template-columns: 490px 1fr;
    grid-template-rows: 50px 481px 350px;
    grid-template-areas: "titulo-dlc titulo-dlc" "img-dlc p-dlc" "trailer-dlc trailer-dlc";
  }
  .art-dlc .img-dlc {
    width: 481px;
    height: 481px;
  }
  .art-dlc .p-dlc {
    margin: 0;
  }
}
@media (max-width: 1030px) {
  .art-dlc {
    display: flex;
    flex-direction: column;
  }
  .art-dlc .p-dlc {
    margin: 10px 0 10px 0;
  }
  .art-dlc .trailer-dlc {
    margin: 0;
  }
}
@media (max-width: 805px) {
  .seccion-contenido__art-mapa {
    margin: 0 25px 0 25px;
  }
  .seccion-contenido__art-mapa .seccion-contenido_art-mapa__img {
    width: 559px;
    height: 350px;
  }
  .seccion-contenido__art-clases {
    margin: 0 25px 0 25px;
  }
  .art-dlc {
    margin: 0 25px 0 25px;
  }
}
@media (max-width: 608px) {
  .seccion-contenido__art-mapa .seccion-contenido_art-mapa__img {
    width: 400px;
    height: 250px;
  }
  .art-dlc .img-dlc {
    width: 400px;
    height: 400px;
  }
  .art-dlc .trailer-dlc {
    width: 400px;
    height: 250px;
  }
}
@media (max-width: 420px) {
  .titulo-contenido {
    font-size: 40px;
  }
  .seccion-contenido__art-mapa {
    margin: 0 5px 0 5px;
  }
  .seccion-contenido__art-mapa .seccion-contenido_art-mapa__p {
    font-size: 14px;
  }
  .seccion-contenido__art-mapa .seccion-contenido_art-mapa__img {
    width: 280px;
    height: 170px;
  }
  .seccion-contenido__art-clases {
    margin: 0 5px 0 5px;
  }
  .seccion-contenido__art-clases .seccion-contenido_art-clases__p {
    font-size: 14px;
  }
  .seccion-contenido__titulo-expansiones {
    font-size: 40px;
    margin: 15px 0 15px 0;
  }
  .art-dlc {
    margin: 0 5px 0 5px;
  }
  .art-dlc .img-dlc {
    width: 280px;
    height: 280px;
  }
  .art-dlc .p-dlc {
    font-size: 14px;
  }
  .art-dlc .trailer-dlc {
    width: 280px;
    height: 170px;
  }
}
.titulo-saga {
  color: #808080;
  text-align: center;
  padding: 50px;
  margin-bottom: 0;
  font-size: 50px;
}

.seccion-saga {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.seccion-saga .art-saga {
  display: flex;
  gap: 30px;
  margin: 15px 100px 15px 100px;
}
.seccion-saga .p-saga {
  background-color: #d3d3d3;
  padding: 10px;
  width: 100%;
  margin-bottom: 0;
  border: 3px solid #808080;
  border-radius: 3px;
  text-align: justify;
  height: fit-content;
  align-self: center;
}
.seccion-saga .img-saga {
  border: 3px solid #808080;
  border-radius: 3px;
}
.seccion-saga .seccion-saga__oblivion {
  padding-bottom: 20px;
}

@media (max-width: 1282px) {
  .seccion-saga .art-saga {
    display: flex;
    flex-direction: column;
  }
  .seccion-saga .img-saga {
    width: 800px;
    height: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 999px) {
  .seccion-saga .art-saga {
    margin: 0 50px 0px 50px;
    padding-bottom: 20px;
  }
  .seccion-saga .img-saga {
    width: 500px;
    height: 350px;
  }
}
@media (max-width: 599px) {
  .seccion-saga .img-saga {
    width: 350px;
    height: 200px;
  }
  .seccion-saga .p-saga {
    font-size: 14px;
  }
}
@media (max-width: 449px) {
  .titulo-saga {
    font-size: 40px;
    padding: 30px;
  }
  .seccion-saga .art-saga {
    margin: 0 10px 0 10px;
  }
  .seccion-saga .img-saga {
    width: 280px;
    height: 150px;
  }
}
.titulo-bethesda {
  color: #808080;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

.seccion-bethesda .seccion-bethesda__art {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 290px 320px 500px;
  grid-template-areas: "seccion-bethesda_art__img seccion-bethesda_art__p" "seccion-bethesda_art__trailer seccion-bethesda_art__p" "seccion-bethesda_art__img-juegos seccion-bethesda_art__img-juegos";
  gap: 10px;
  margin: 50px 100px 50px 100px;
}
.seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__img {
  grid-area: seccion-bethesda_art__img;
  display: flex;
  align-self: center;
  border: 3px solid #808080;
  border-radius: 3px;
}
.seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__trailer {
  grid-area: seccion-bethesda_art__trailer;
  display: flex;
  align-self: center;
  border: 3px solid #808080;
  border-radius: 3px;
}
.seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__p {
  grid-area: seccion-bethesda_art__p;
  background-color: #d3d3d3;
  padding: 10px;
  border: 3px solid #808080;
  border-radius: 3px;
  font-size: 18px;
  height: fit-content;
  margin: 0;
  align-self: center;
  text-align: justify;
}
.seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__img-juegos {
  grid-area: seccion-bethesda_art__img-juegos;
  display: flex;
  justify-self: center;
  align-self: center;
  border: 3px solid #808080;
  border-radius: 3px;
  width: 100%;
}

@media (max-width: 1249px) {
  .seccion-bethesda .seccion-bethesda__art {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 240px 1fr 290px;
    grid-template-areas: "seccion-bethesda_art__img seccion-bethesda_art__trailer" "seccion-bethesda_art__p seccion-bethesda_art__p" "seccion-bethesda_art__img-juegos seccion-bethesda_art__img-juegos";
  }
  .seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__img {
    width: 400px;
    height: 230px;
    justify-self: center;
  }
  .seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__trailer {
    width: 400px;
    height: 230px;
    justify-self: center;
  }
}
@media (max-width: 999px) {
  .seccion-bethesda .seccion-bethesda__art {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
  .seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__img {
    width: 550px;
    height: 325px;
  }
  .seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__trailer {
    width: 550px;
    height: 325px;
  }
}
@media (max-width: 649px) {
  .seccion-bethesda .seccion-bethesda__art {
    margin: 25px;
  }
  .seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__img {
    width: 400px;
    height: 230px;
  }
  .seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__trailer {
    width: 400px;
    height: 230px;
  }
  .seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__p {
    font-size: 14px;
  }
}
@media (max-width: 449px) {
  .seccion-bethesda .seccion-bethesda__art {
    margin: 10px;
  }
  .seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__img {
    width: 280px;
    height: 150px;
  }
  .seccion-bethesda .seccion-bethesda__art .seccion-bethesda_art__trailer {
    width: 280px;
    height: 150px;
  }
}
@media (max-width: 425px) {
  .titulo-bethesda {
    font-size: 40px;
  }
}
.seccion-contacto__titulo {
  color: #808080;
  font-size: 50px;
  text-align: center;
  padding: 40px;
}

.div-form {
  display: flex;
  justify-content: center;
  margin: 0 20px 0 20px;
}

.seccion-contacto__formulario {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3019607843);
  background-color: rgb(27, 26, 26);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 90px) 150px 90px;
  grid-template-areas: "seccion-contacto_formulario__nombre seccion-contacto_formulario__apellido" "seccion-contacto_formulario__email seccion-contacto_formulario__telefono" "seccion-contacto_formulario__mensaje seccion-contacto_formulario__mensaje" "seccion-contacto_formulario__radio seccion-contacto_formulario__multi-opciones" "seccion-contacto_formulario__reset seccion-contacto_formulario__enviar";
}

.seccion-contacto__formulario > * {
  padding: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
}

.seccion-contacto_formulario__nombre {
  color: #808080;
  grid-area: seccion-contacto_formulario__nombre;
}

/*Apellido*/
.seccion-contacto_formulario__apellido {
  color: #808080;
  grid-area: seccion-contacto_formulario__apellido;
}

.seccion-contacto_formulario__email {
  color: #808080;
  grid-area: seccion-contacto_formulario__email;
}

.seccion-contacto_formulario__telefono {
  color: #808080;
  grid-area: seccion-contacto_formulario__telefono;
}

.seccion-contacto_formulario__mensaje {
  color: #808080;
  grid-area: seccion-contacto_formulario__mensaje;
}

.seccion-contacto_formulario__radio {
  grid-area: seccion-contacto_formulario__radio;
}
.seccion-contacto_formulario__radio .seccion-contacto_formulario_radio__label {
  color: #808080;
}

.seccion-contacto_formulario__multi-opciones {
  color: #808080;
  grid-area: seccion-contacto_formulario__multi-opciones;
}

.seccion-contacto_formulario__reset {
  grid-area: seccion-contacto_formulario__reset;
}

.seccion-contacto_formulario__enviar {
  grid-area: seccion-contacto_formulario__enviar;
}

.footer-contacto {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.body-contacto {
  position: relative;
  padding-bottom: 200px;
}

.pie-pagina {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 425px) {
  .seccion-contacto__titulo {
    font-size: 40px;
  }
}
.icono:hover {
  border: #ffffff;
  border-radius: 20px;
  background-color: #808080;
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
