//*Titulo*/
.seccion-contacto__titulo {
    color: $titulos;
    font-size: 50px;
    text-align: center;
    padding: 40px;
}
//*Posicion-formulario*/
.div-form {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}
//*Grid*/
.seccion-contacto__formulario {
    box-shadow: 0 0 20px 0 #ffffff4d;
    background-color: #1b1a1a;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 90px) 150px 90px;
    grid-template-areas: 
    "seccion-contacto_formulario__nombre seccion-contacto_formulario__apellido"
    "seccion-contacto_formulario__email seccion-contacto_formulario__telefono"
    "seccion-contacto_formulario__mensaje seccion-contacto_formulario__mensaje"
    "seccion-contacto_formulario__radio seccion-contacto_formulario__multi-opciones"
    "seccion-contacto_formulario__reset seccion-contacto_formulario__enviar"
    ;
    //*Nombre*/
    .seccion-contacto_formulario__nombre {
        color: $titulos;
        grid-area: seccion-contacto_formulario__nombre;
    }
    /*Apellido*/
    .seccion-contacto_formulario__apellido {
        color: $titulos;
        grid-area: seccion-contacto_formulario__apellido;
    }
    //*Email*/
    .seccion-contacto_formulario__email {
        color: $titulos;
        grid-area: seccion-contacto_formulario__email;
    }
    //*Telefono*/
    .seccion-contacto_formulario__telefono {
        color: $titulos;
        grid-area: seccion-contacto_formulario__telefono;
    }
    //*Mensaje*/
    .seccion-contacto_formulario__mensaje {
        color: $titulos;
        grid-area: seccion-contacto_formulario__mensaje;
    }
    //*Radio*/
    .seccion-contacto_formulario__radio {
        grid-area: seccion-contacto_formulario__radio;
        //¿Jugaste Skyrim?
        .seccion-contacto_formulario_radio__label {
            color: $titulos;
        }   
    }
    //*Multi-opciones*/
    .seccion-contacto_formulario__multi-opciones {
        color: $titulos;
        grid-area: seccion-contacto_formulario__multi-opciones;
    }
    //*Boton-reset*/
    .seccion-contacto_formulario__reset {
        grid-area: seccion-contacto_formulario__reset;
    }
    //*Boton-enviar*/
    .seccion-contacto_formulario__enviar {
        grid-area: seccion-contacto_formulario__enviar;
    }
}
//*Padding-formulario*/
.seccion-contacto__formulario > * {
    padding: 10px;
}
//*Espacios-relleno*/
input,
textarea {
    width: 100%;
    padding: 5px;
    
}
//*Posicion-pie-de-pagina*/
.footer-contacto {
    position: absolute;
    bottom: 0;
    width: 100%;
}
//*Body-contacto*/
.body-contacto {
    position: relative;
    padding-bottom: 250px;
}
//*Pie pagina*/
.pie-pagina {
    position: absolute;
    bottom: 0;
    width: 100%;
}
//Responsive//////////////////////////////////////////
@media (max-width:425px) {
    //*Titulo*/
    .seccion-contacto__titulo {
        font-size: 40px;
    }
}