//Padding
.header__nav {
    padding: 0;
    //Background
    .header_nav__div {
        background-color: $background;
        //Img-header
        .header_nav_div_a__img {
            height: 50px;
            width: 50px;
        }
    }
    //Items lista
    .active {
        background-color: #808080;
        border-radius: $bordes-radius;
        margin: 0 5px;
    }
    .nav-lista a:hover {
        background-color: #808080;
        border-radius: $bordes-radius;
    }
}

//Responsive
@media (max-width:991px) {
    .nav-lista a {
        margin: 0 auto;
    }
}
