//*Index*//////////////////////////////////////////////////////////////////////
.seccion-index__article {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: repeat(2, 1fr) 150px;
    grid-template-areas: 
    "seccion-index_article__img seccion-index_article__caracteristicas"
    "seccion-index_article__img seccion-index_article__trailer"
    "seccion-index_article__p seccion-index_article__p"
    ;
    margin: 100px;
}
.seccion-index_article__img {
    grid-area: seccion-index_article__img;
    display: flex;
    justify-self: center;
    margin-top: 0px;
    border: 3px solid #808080;
}
.seccion-index_article__caracteristicas {
    grid-area: seccion-index_article__caracteristicas;
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 75px 10px 75px;
    border: 3px solid #808080;
}
.seccion-index_article_caracteristicas__lista {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 10px;
    line-height: 50px;
    font-size: 16px;
}
.seccion-index_article_caracteristicas__img {
    margin: 10px;
}
.seccion-index_article__trailer {
    grid-area: seccion-index_article__trailer;
    display: flex;
    justify-self: center;
    align-self: center;
    border: 3px solid #808080;
}
.seccion-index_article__p {
    grid-area: seccion-index_article__p;
    background-color: #d3d3d3;
    display: flex;
    margin-top: 10px;
    justify-self: center;
    border: 3px solid #808080;
    width: 100%;
    padding: 10px;
}
//*Responsive*//////////////////////////////////////////////////////////////
@media (max-width:1718px) {
    .seccion-index__article {
        display: grid;
        grid-template-columns: 600px 1fr;
        grid-template-rows: repeat(2, 1fr) 400px 150px;
        grid-template-areas: 
        "seccion-index_article__img seccion-index_article__caracteristicas"
        "seccion-index_article__img seccion-index_article__caracteristicas"
        "seccion-index_article__trailer seccion-index_article__trailer"
        "seccion-index_article__p seccion-index_article__p"
        ;
        margin: 50px;
    }
    .seccion-index_article__caracteristicas {
        flex-direction: column;
    }
    .seccion-index_article_caracteristicas__lista {
        padding: 0;
    }
    .seccion-index_article_caracteristicas__img {
        height: 300px;
        width: 500px;
        margin: 0 auto;
    }

}
@media (max-width:1509px) {
    .seccion-index__article {
        display: grid;
        grid-template-columns: 600px 1fr;
        grid-template-rows: repeat(2, 1fr) 370px 250px;
        grid-template-areas: 
        "seccion-index_article__img seccion-index_article__caracteristicas"
        "seccion-index_article__img seccion-index_article__caracteristicas"
        "seccion-index_article__trailer seccion-index_article__trailer"
        "seccion-index_article__p seccion-index_article__p"
        ;
        margin: 50px;
    }
    .seccion-index_article__caracteristicas {
        margin: 25px;
    }
    
}
@media (max-width:1390px) {
    .seccion-index__article {
        display: grid;
        grid-template-columns: 450px 1fr;
        grid-template-rows: repeat(2, 300px) 370px 250px;
        grid-template-areas: 
        "seccion-index_article__img seccion-index_article__caracteristicas"
        "seccion-index_article__img seccion-index_article__caracteristicas"
        "seccion-index_article__trailer seccion-index_article__trailer"
        "seccion-index_article__p seccion-index_article__p"
        ;
    }
    .seccion-index_article__img {
        width: 376px;
        height: 576px;
        align-self: center;
    }
}
@media (max-width:1122px) {
    .seccion-index__article {
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-template-rows: repeat(2, 300px) 370px 250px;
        grid-template-areas: 
        "seccion-index_article__img seccion-index_article__caracteristicas"
        "seccion-index_article__img seccion-index_article__caracteristicas"
        "seccion-index_article__trailer seccion-index_article__trailer"
        "seccion-index_article__p seccion-index_article__p"
        ;
        margin: 20px;
    }
    .seccion-index_article__img {
        width: 300px;
        height: 500px;
    }
}
@media (max-width:966px) {
    .seccion-index_article_caracteristicas__img {
        width: 400px;
        height: 300px;
    }
}
@media (max-width:866px) {
    .seccion-index__article {
        display: grid;
        grid-template-columns: 410px 1fr ;
        grid-template-rows: repeat(2, 600px) 370px 400px;
        grid-template-areas: 
        "seccion-index_article__img seccion-index_article__img"
        "seccion-index_article__caracteristicas seccion-index_article__caracteristicas"
        "seccion-index_article__trailer seccion-index_article__trailer"
        "seccion-index_article__p seccion-index_article__p"
        ;
    }
    .seccion-index_article__img {
        width: 400px;
        height: 590px;
    }
    .seccion-index_article__caracteristicas {
        justify-content: space-evenly;
        width: 430px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .seccion-index_article_caracteristicas__img {
        height: 230px;
        align-self: center;
        margin: 0;
    }
}
@media (max-width:601px) {
    .seccion-index__article {
        margin: 10px;
    }
    .seccion-index_article__trailer {
        width: 350px;
        height: 200px;
    }
}
@media (max-width:495px) {
    .seccion-index__article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 550px) 250px 600px;
        grid-template-areas: 
        "seccion-index_article__img"
        "seccion-index_article__caracteristicas"
        "seccion-index_article__trailer"
        "seccion-index_article__p"
        ;
    }
    .seccion-index_article__img {
        width: 300px;
        height: 450px;
    }
    .seccion-index_article__caracteristicas {
        width: 300px;
    }
    .seccion-index_article_caracteristicas__lista {
        font-size: 14px;
    }
    .seccion-index_article_caracteristicas__img {
        width: 270px;
        height: 200px;
    }
    .seccion-index_article__trailer {
        width: 300px;
    }
    .seccion-index_article__p {
        font-size: 14px;
        width: 300px;
    }
}