//////////////////////////////////////////////////////
//Variables///////////////////////////////////////////
//////////////////////////////////////////////////////  

$bordes-caja: 3px solid #808080;
$bordes-radius: 3px;
$titulos: #808080;
$padding-cajas: 10px;
$background: #d3d3d3;