//////////////////////////////////////////////
//General/////////////////////////////////////
//////////////////////////////////////////////

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
//Body-background
body {
    background-color: #000000;
}

//*////////////////////////////////////////////*/
//*Imports/////////////////////////////////////*/
//*////////////////////////////////////////////*/

@import "header";
@import "index";
@import "contenido";
@import "saga";
@import "bethesda";
@import "contacto";
