/*Variables import*/
@import "vars";

//////////////////////////////////////////////
//General/////////////////////////////////////
//////////////////////////////////////////////

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}
//Body-background
body {
    background-color: #000000;
}

//*////////////////////////////////////////////*/
//*Imports/////////////////////////////////////*/
//*////////////////////////////////////////////*/

//Header/s
@import "header";
//Index
@import "index";
//Contenido
@import "contenido";
//Saga
@import "saga";
//Bethesda
@import "bethesda";
//Contacto
@import "contacto";
//Footer/s
@import "footer";